.wrapper {
  /* letter-spacing: 0.09em; */
  font-weight: 400;
  line-height: 1.5;
}
.aboutText {
  font-size: 20px;
  line-height: 1.5;
}
.aboutImage {
  margin-top: 26px;
}

.skills{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.skill{
  display: inline;
  border: 1px solid var(--dark);
  padding: 0.2rem;
  text-transform: uppercase;
}

@media (min-width: 600px) {
  .wrapper {
    display: flex;
    align-items: flex-start;
    /* border: 1px solid black; */
    /* justify-content: space-between; */
    gap: 4rem;
  }
  .aboutImage {
  }
  .aboutText {
    margin: 0;
    padding: 0;
    line-height: 1.5;

    max-width: 60%;
  }
}
