.post {
  border-bottom: 1px solid var(--border);
  margin-bottom: 1rem;
  cursor: pointer;
}

.title {
  font-size: 30px;
  font-family:  "Lato",sans-serif;
  margin: 0;
  margin-top: 1rem;
}
.date {
  background-color: var(--text-primary);
  color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  margin-top: 0.3rem;
  margin-bottom: -1rem;
  font-size: 14px;
}
.body {
  font-size: 26px;
  margin-top: -1rem;
}
@media (min-width: 600px) {
  .wrapper {
    display: flex;
    gap: 1rem;
  }
  .articleImage {
    min-width: 35%;
    padding: 0;
    margin-top: 2rem;
    margin-right: 0;
  }
}
