
/* @import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Sree+Krushnadevaraya&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Sree+Krushnadevaraya&display=swap');
:root{
  --dark: #000;
  --light: #fff;
  --primary: #0000007e;
  --secondary: #817f79;

  
  /* --primary: #20c4bb; */
  /* --primary: #f2d079; */
  /* --secondary: #f2d079; */

}


* {
  box-sizing: border-box;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family:  "Lato",sans-serif;
  line-height: 1.7;
  font-size: 20px;
}

a {
  color: var(--secondary);
  text-decoration: none;
  
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}


/**************************/
/* custom stylings below */
/**************************/


/* scroll bar */

body::-webkit-scrollbar {
  width: .5em;
  /* background-color: rgba(0, 0, 0, 0.261); */
  background-color: var(--secondary);

}
body::-webkit-scrollbar-thumb{
  /* background-color: rgba(0, 0, 0, 0.436); */
  background-color: var(--primary);
}

/* mouse */
/* body{
  cursor: url("../public/images/cursor_image_svg.svg") , auto;
} */

