.wrapper {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background);
  z-index: 2;
  font-family:  "Lato",sans-serif;
  overflow-y:hidden;
  border-bottom: 1px solid var(--border);
}

.menuLinks > * {
  /* text-transform: capitalize; */
  font-size: 35px;
  margin-left: -1rem;
}
