.wrapper {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background-color: var(--light);
  z-index: 2;
  font-family: "Fredericka the Great", cursive;
  overflow-y: hidden;
}

.menuLinks > * {
  /* text-transform: capitalize; */
  font-size: 35px;
  margin-left: -1rem;
}
