.post {
  border-bottom: 1px solid var(--border);
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 0.3rem;
  box-shadow: var(--shadow);
  min-height: 300px;
}

.post:hover, .post:focus{
  border: 1px solid var(--accent);

}

.title {
  font-size: 28px;
  font-family: "Fredericka the Great";
  margin: 0;
}
.date {
  background-color: var(--text-primary);
  color: var(--accent);
  padding: 0.2rem;
  margin-top: 0.3rem;
  margin-bottom: -1rem;
  font-size: 14px;
  text-align: left;

}
.body {
  font-size: 20px;
}

.title, .date, .body{
  padding: .2rem 0;
}


