.title {
  font-family:  "Lato",sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  text-decoration: underline;
  text-align: left;
}

/* styling for project card */

/* TODO improve the box shadow on the card component*/
.card{
  flex: 0 0 auto;
  /* border-bottom: 2px solid var(--border); */
  box-shadow: var(--shadow--large);
  border-bottom: 2px solid var(--border);
}
.card:hover, .card:focus{
  border-bottom: 2px solid var(--accent);
}
.cardHeader{
  margin-bottom: 0;
  padding-bottom: 0; 
  max-height: 300px; 
}
.cardHeader > *{
  min-width: 100%;
  
}
.cardFooter{
  margin-top: 0;
  padding: .2rem .6rem;
  height: 200px;
}
.cardTitle{
  margin-bottom: 0;
  padding-top: 8px;

}
.stacks{
  display: inline-block;
  margin-bottom: 8px;
  padding: 8px 0;

}
.links {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  
}
.projectsList {
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1.5rem;
}

@media (min-width: 600px) {
  .title {
    text-align: center;
    margin-bottom: 4rem;
  }
  .projectsList {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr ;
  }
 
  .links{
    display: block;
  }
  .links > a{
    margin-right: 40px;
  }
  
}

@media (min-width: 900px) {
  .title {
    text-align: center;
    margin-bottom: 4rem;
  }
  .projectsList {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}
